<%= render("shared/page_title/index", page_title: t(".title"), link: new_citizen_path) %>

<div class=" mb-3">
  <div class="">
    <%= render "form_filter" %>
  </div>
</div>

<%= render "citizens_table" %>
