<header id="menu" class="p-3 text-bg-dark">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <%= link_to(root_path, class: "d-flex align-items-center img-thumbnail mb-lg-0 text-white") do %>
      <%= image_tag("logo.png", height: 35) %>
    <% end %>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><%= link_to("Home", root_path, class: "nav-link px-2 text-white") %></li>
      <li><%= link_to(tmp(Citizen), citizens_path, class: "nav-link px-2 text-white") %></li>
    </ul>
  </div>
</header>
